<h3>Cambiando el Parámetro Ventana</h3>

En la lección anterior se hizo un backtest de los datos con una ventana de 3.  
Ahora vamos a variar la ventana con los valores 1, 2, 5 y 10 y a realizar el backtest para cada valor de una forma visualmente. Para ello vamos a realizar una gráfica donde se muestran todas las estrategias.

En primer lugar importamos los datos (intraday.csv) y se le aplican algunas operaciones tal com se hizo antes.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use("seaborn-v0_8-whitegrid")

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "f:\algo-trading-F\Lib\site-packages\IPython\core\interactiveshell.py", line 3549, in run_code
  File "C:\Users\marioL\AppData\Local\Temp\ipykernel_13412\4090023194.py", line 3, in <module>
    import matplotlib.pyplot as plt
ModuleNotFoundError: No module named 'matplotlib.pyplot'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "f:\algo-trading-F\Lib\site-packages\pygments\styles\__init__.py", line 45, in get_style_by_name
ModuleNotFoundError: No module named 'pygments.styles.default'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "f:\algo-trading-F\Lib\site-packages\IPython\core\interactiveshell.py", line 2173, in showtraceback
  File "f:\algo-trading-F\Lib\site-packages\IPython\core\ultratb.py", line 1182, in structured_traceback
  File "f:\algo-trading-F\Lib\site-packages\IPython\core\ultratb.py", line 1053, in structured_traceback
  File "f:\algo-trading-F\Lib\site-packages\IPython\core\ultratb.py", line 861, in structured_traceback
  File "f:\algo-trading-F\Lib\site-packages\IPython\core\ultratb.py", line 745, in format_exception_as_a_whole
  File "f:\algo-trading-F\Lib\site-packages\IPython\core\ultratb.py", line 684, in prepare_header
  File "f:\algo-trading-F\Lib\site-packages\IPython\utils\PyColorize.py", line 64, in format
  File "f:\algo-trading-F\Lib\site-packages\IPython\utils\PyColorize.py", line 54, in as_pygments_style
  File "f:\algo-trading-F\Lib\site-packages\pygments\styles\__init__.py", line 47, in get_style_by_name
pygments.util.ClassNotFound: Could not find style module 'pygments.styles.default', though it should be builtin.

In [ ]:
data = pd.read_csv("intraday.csv", parse_dates = ["time"], index_col = "time" )

In [ ]:
data

                              price
time
2018-01-01 22:00:00+00:00  1.201205
2018-01-02 04:00:00+00:00  1.207055
2018-01-02 10:00:00+00:00  1.204440
2018-01-02 16:00:00+00:00  1.205800
2018-01-02 22:00:00+00:00  1.204690
...                             ...
2019-12-29 22:00:00+00:00  1.119920
2019-12-30 04:00:00+00:00  1.119940
2019-12-30 10:00:00+00:00  1.120095
2019-12-30 16:00:00+00:00  1.119920
2019-12-30 22:00:00+00:00  1.120355

[2070 rows x 1 columns]

In [ ]:
data["returns"] = np.log(data.div(data.shift(1)))

In [ ]:
data

                              price   returns
time
2018-01-01 22:00:00+00:00  1.201205       NaN
2018-01-02 04:00:00+00:00  1.207055  0.004858
2018-01-02 10:00:00+00:00  1.204440 -0.002169
2018-01-02 16:00:00+00:00  1.205800  0.001129
2018-01-02 22:00:00+00:00  1.204690 -0.000921
...                             ...       ...
2019-12-29 22:00:00+00:00  1.119920  0.002092
2019-12-30 04:00:00+00:00  1.119940  0.000018
2019-12-30 10:00:00+00:00  1.120095  0.000138
2019-12-30 16:00:00+00:00  1.119920 -0.000156
2019-12-30 22:00:00+00:00  1.120355  0.000388

[2070 rows x 2 columns]

In [ ]:
# se eliminan los valores nulos
data.dropna(inplace=True)
data

                              price   returns
time
2018-01-02 04:00:00+00:00  1.207055  0.004858
2018-01-02 10:00:00+00:00  1.204440 -0.002169
2018-01-02 16:00:00+00:00  1.205800  0.001129
2018-01-02 22:00:00+00:00  1.204690 -0.000921
2018-01-03 04:00:00+00:00  1.203825 -0.000718
...                             ...       ...
2019-12-29 22:00:00+00:00  1.119920  0.002092
2019-12-30 04:00:00+00:00  1.119940  0.000018
2019-12-30 10:00:00+00:00  1.120095  0.000138
2019-12-30 16:00:00+00:00  1.119920 -0.000156
2019-12-30 22:00:00+00:00  1.120355  0.000388

[2069 rows x 2 columns]

Ahora se inicializa una lista con las columnas que vamos a graficar y en donde la primera estrategia es
Buy and Hold (B/H) de tal manera que estos son los rendimientos de B/H.
A continuación se agregan dos columnas para cada estrategia contraria y luego vamos a iterar de una lista donde tenemos ventanas !, 2, 3, 5 y 10; de tal manera que tenemos 5 estrategias contrarias diferentes.

In [ ]:
to_plot = ["returns"]

In [ ]:
for w in [1, 2, 3, 5, 10]:
    data["position{}".format(w)] = -np.sign(data["returns"].rolling(w).mean())
    data["strategy{}".format(w)] = data["position{}".format(w)].shift(1) * data["returns"]
    to_plot.append("strategy{}".format(w))

In [ ]:
data

,price,returns,position1,strategy1,position2,strategy2,position3,strategy3,position5,strategy5,position10,strategy10
time,,,,,,,,,,,,
2018-01-02 04:00:00+00:00,1.207055,0.004858,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-02 10:00:00+00:00,1.204440,-0.002169,1.0,0.002169,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-02 16:00:00+00:00,1.205800,0.001129,-1.0,0.001129,1.0,-0.001129,-1.0,NaN,NaN,NaN,NaN,NaN
2018-01-02 22:00:00+00:00,1.204690,-0.000921,1.0,0.000921,-1.0,-0.000921,1.0,0.000921,NaN,NaN,NaN,NaN
2018-01-03 04:00:00+00:00,1.203825,-0.000718,1.0,-0.000718,1.0,0.000718,1.0,-0.000718,-1.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-29 22:00:00+00:00,1.119920,0.002092,-1.0,-0.002092,-1.0,-0.002092,-1.0,-0.002092,-1.0,-0.002092,-1.0,-0.002092
2019-12-30 04:00:00+00:00,1.119940,0.000018,-1.0,-0.000018,-1.0,-0.000018,-1.0,-0.000018,-1.0,-0.000018,-1.0,-0.000018
2019-12-30 10:00:00+00:00,1.120095,0.000138,-1.0,-0.000138,-1.0,-0.000138,-1.0,-0.000138,-1.0,-0.000138,-1.0,-0.000138
2019-12-30 16:00:00+00:00,1.119920,-0.000156,1.0,0.000156,1.0,0.000156,1.0,0.000156,-1.0,0.000156,-1.0,0.000156
2019-12-30 22:00:00+00:00,1.120355,0.000388,-1.0,0.000388,-1.0,0.000388,-1.0,0.000388,-1.0,-0.000388,-1.0,-0.000388

In [ ]:
to_plot

['returns', 'strategy1', 'strategy2', 'strategy3', 'strategy5', 'strategy10']

In [2]:
data[to_plot].dropna().cumsum().apply(np.exp).plot(figsize = (12,8))
plt.title("DJI Intraday - 60 h", fontsize = 12)
plt.show()

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "f:\algo-trading-F\Lib\site-packages\IPython\core\interactiveshell.py", line 3549, in run_code
  File "C:\Users\marioL\AppData\Local\Temp\ipykernel_13412\3704153349.py", line 1, in <module>
    data[to_plot].dropna().cumsum().apply(np.exp).plot(figsize = (12,8))
    ^^^^
NameError: name 'data' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "f:\algo-trading-F\Lib\site-packages\pygments\styles\__init__.py", line 45, in get_style_by_name
ModuleNotFoundError: No module named 'pygments.styles.default'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "f:\algo-trading-F\Lib\site-packages\IPython\core\interactiveshell.py", line 2173, in showtraceback
  File "f:\algo-trading-F\Lib\site-packages\IPython\core\ultratb.py", line 1182, in structured_traceback
  File "f:\algo-trading-F\Lib\site-packages\IPython\core\ultratb.py", line 1053, in structured_traceback
  File "f:\algo-trading-F\Lib\site-packages\IPython\core\ultratb.py", line 861, in structured_traceback
  File "f:\algo-trading-F\Lib\site-packages\IPython\core\ultratb.py", line 745, in format_exception_as_a_whole
  File "f:\algo-trading-F\Lib\site-packages\IPython\core\ultratb.py", line 684, in prepare_header
  File "f:\algo-trading-F\Lib\site-packages\IPython\utils\PyColorize.py", line 64, in format
  File "f:\algo-trading-F\Lib\site-packages\IPython\utils\PyColorize.py", line 54, in as_pygments_style
  File "f:\algo-trading-F\Lib\site-packages\pygments\styles\__init__.py", line 47, in get_style_by_name
pygments.util.ClassNotFound: Could not find style module 'pygments.styles.default', though it should be builtin.