En este notebook implemento el modelo de regresión logística en base a un código suministrado por grok.  
En primer lugar implemento el modelo multiclase.

In [2]:
# Se realizan las importaciones necesarias
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression

plt.style.use("seaborn-v0_8-whitegrid")

In [6]:
# cargar el archivo de datos
df = pd.read_csv("five_minute.csv", parse_dates=["time"], index_col="time")
#df.head()

In [8]:
# calcular los rendimientos logarítmicos
df["returns"] = np.log(df["price"] / df["price"].shift(1))

In [10]:
# eliminar filas con valores NaN
df.dropna(inplace=True)

In [11]:
# calcular la dirección del mercado (tres clases +1, 0, -1)
df["direction"] = np.sign(df["returns"])

In [12]:
df

                              price   returns  direction
time
2019-01-01 22:05:00+00:00  1.146350 -0.000201       -1.0
2019-01-01 22:10:00+00:00  1.146320 -0.000026       -1.0
2019-01-01 22:15:00+00:00  1.146320  0.000000        0.0
2019-01-01 22:20:00+00:00  1.146530  0.000183        1.0
2019-01-01 22:25:00+00:00  1.146475 -0.000048       -1.0
...                             ...       ...        ...
2019-12-30 23:35:00+00:00  1.120180 -0.000004       -1.0
2019-12-30 23:40:00+00:00  1.120210  0.000027        1.0
2019-12-30 23:45:00+00:00  1.120295  0.000076        1.0
2019-12-30 23:50:00+00:00  1.120275 -0.000018       -1.0
2019-12-30 23:55:00+00:00  1.120130 -0.000129       -1.0

[73719 rows x 3 columns]

In [13]:
# verificar la distribución dee clases
print("\nDistribución de clases en 'direction:")
print(df["direction"].value_counts())

Distribución de clases en 'direction:
direction
 1.0    36058
-1.0    35702
 0.0     1959
Name: count, dtype: int64

In [ ]:
# crear cinco predictores (rendimientos rezagados)